<h1>Eding Book</h1>

<%= form_with model: @book, url: edit_book_path(@book.id), method: :patch do |f| %>


 <div class="field">
  <label for="book-title">Title</label>
  <%= f.text_field :title %>
 </div>
 
 <div class="">
  <label for="book-body">Body</label>
  <%= f.text_area :body %>
 </div>
 
 <div class="actions">
  <%= f.submit 'Update Book' %>
 </div>
  
  <%= link_to "Show", books_path end (@book.id) %>
  <p>|</p>
  <%= link_to 'Back', books_path %>
<% end %>