<h1>Editing Book</h1>
<%= form_with model: @book do |f| %>
 <p>
  <strong>Title:</strong>
  <%= @book.title %>
 </p>

 <p>
  <strong>Body:</strong>
  <%= @book.body %>
 </p>
 
 <%= f.submit 'Update Book' %>
 
 <%= link_to "Edit", edit_book_path(@book.id) %>
 <%= link_to 'Back', books_path %>
 
<% end %>